@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

*{
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body{
	margin:0;
	font-family: 'Roboto' , sans-serif;
	text-align: center;
	background-color: #2c3e50; 
}

img{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	font-size: 1rem;
	color: #fff;
}

.container{
	width: 95%;
	margin: 0 auto;
	max-width: 70em;
}

.clearfix::after,
section::after,
footer::after{
	content: '';
	display: block;
	clear: both;
}

.col-1{
	width: 33.33%;
	margin-top: 1em;
	float: left;
}

@media(min-width: 40rem){
.col-3{
	float: left;
	width: 50%;
	padding: 0 .5em;
	margin-top: 0;


}
.col-1{
	float: left;
	width: 16.666%;
	padding: 0 .5em;
}
.col-3{
	font-size: 2em;
}
}


h1{
	font-size: 1.7em;
	margin-top: 0;

}

p{
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type{
	margin-bottom: 0;
}

.title{
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 700;
	margin-top: 1em; 
	color: #ecf0f1;
}

.title span{
	font-weight: 200;
	display: block;
	font-size: .9em;
}

.title-copy{
	margin: 0 0 .5em;
	color: #2c3e50;
}

.unstyled-list{
	margin: 0;
	padding: 0;
	list-style-type: none; 
}

@media(min-width:60rem){
	.title{
		font-size: 3.7rem;
	}

	p{
		font-size: 1.2rem;
		line-height: 1.6;
	}
}

.button{
	font-size: 1.5rem;
	text-decoration: none;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
	display: inline-block;
}

@media(min-width:60rem){
	.button{
		font-size: 1.5rem;
	}
}

.button-small{
	font-size: .7rem;
	font-weight: 700;
}
.button-accent{ 
	color: #f1c40f;
	border-color: #f1c40f;
}

.button-accent:hover,
.button-accent:focus {
	background: #f1c40f;
	color: #232323; 
}

.button-dark{ 
	color: #232323;
	border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
	background: #f1c40f;
	color: #232323; 
}




header{
	margin-top: 1em;
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 200;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: .5em;
	color: #fff;
}

nav a:hover,
nav a:focus{
	color: #7f8c8d;
}

@media(min-width:60rem){
	.logo{
		float: left;
	}
	nav{
		float: right;
	}
}


.home-page{
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #fff;
}

.about-page{
	background-image: url(../img/background-1.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #fff;
}

.menu-page{
	background-image: url(../img/background-2.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #fff;
}

.contact-page{
	background-image: url(../img/background-3.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #fff;
}

@media(min-width:60rem){
	.home-page{
		height: 100vh;
		padding-top: 35vh;
	}

	.about-page{
		height: 100vh;
		padding-top: 35vh;
	}

	.menu-page{
		height: 100vh;
		padding-top: 35vh;
	}
}

.about-textbox{
	position: relative;
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #00ff6c;
	outline-offset: -2.5em;
	color: #fff;
}

.about-textbox h1{
	position: absolute;
	color: #f1c40f;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}

.contact-textbox{
	position: relative;
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #00ff6c;
	outline-offset: -2.5em;
	color: #fff;
}

.contact-textbox h1{
	position: absolute;
	color: #f1c40f;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}


@media(min-width:25rem){
	h1{
		font-size: 2rem;
	}

	.about-textbox h1{
		top: .6em;
		padding: 0 .325em;
	}

	.contact-textbox h1{
		top: .6em;
		padding: 0 .325em;
	}
}

@media(min-width:60rem){
	h1{
		font-size: 2.5rem;
	}

	.about{
		background-image: url(../img/about.jpg);
		background-repeat: no-repeat;
		padding-bottom: 10em;
	}
	.about-textbox{
	width: 50%;
	margin-left: -2.5%;
	top: -5em;
	text-align: left; 
	}

	.about-textbox h1{
		top: .3em;
		left: 3.25rem;
		transform: translateX(0);
	}

	.contact{
		background-image: url(../img/contact.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 10em;
	}
	.contact-textbox{
	width: 50%;
	margin-left: -2.5%;
	top: -5em;
	text-align: left; 
	}

	.contact-textbox h1{
		top: .3em;
		left: 3.25rem;
		transform: translateX(0);
	}
}

.menu{
	margin: 3em 0 0;
}

.menu h1{
	color: #ecf0f1;
}

.menu-item{
	margin: 0;
	position: relative;
}

.menu-item img{
	display: block;
}

.menu-desc{
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,.6);
	padding-bottom: 2em;
}

.menu-desc p{
	margin: 1em;
}

@media (min-width: 37rem){
	.menu-item{
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem){
	.menu-item{
		width: 33.33%;
		overflow: hidden;
	}

	.menu-desc{
		transform: translateY(150%);
	}

	.menu-item:hover .menu-desc{
		transform: translateY(0%);
	}
}

.copy{
	background-color: #2ecc71;
	padding: 6em 0;
}

footer{
	background: #232323;
	color: #fff;
	font-size: 1.1em;
	text-align: left; 
	padding: 5em 0;
}
